<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_URI} ^/(stats|failed_auth\.html).*$ [NC]
RewriteRule . - [L]
</IfModule>

#Protect Directory
AuthName "Dialog prompt"
AuthType Basic
AuthUserFile /home/bucketofunusedideas/go1.thebucketofunusedideas.com/.htpasswd

# Allow stats directory and index.html without authentication
SetEnvIf Request_URI "^/stats" allow_access
SetEnvIf Request_URI "^/$" allow_access
SetEnvIf Request_URI "^/index\.html$" allow_access
Require valid-user
Satisfy any
Order allow,deny
Allow from env=allow_access
