<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_URI} ^/(stats|failed_auth\.html).*$ [NC]
RewriteRule . - [L]
</IfModule>

#Protect Directory
AuthName "Dialog prompt"
AuthType Basic
AuthUserFile /home/bucketofunusedideas/go1.thebucketofunusedideas.com/.htpasswd
Require valid-user
