@font-face {
    font-family: 'SF Hollywood Hills';
    src: url('fonts/sfhh.woff2') format('woff2'), url('fonts/sfhh.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

strong, b {
font-weight: bold;
}

em, i {
font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	background-color: black;
	color: white;
	font-size: 14px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', serif;
}

a {
    color: white;
    background-color: yellow;
    /* background-color: red; */
    padding: 0.15em 0.3em;
    text-decoration: none;
    /* ext-shadow: -1px -1px 0 red, 1px -1px 0 red, -1px 1px 0 darkred, 1px 1px 0 darkred; */
    text-shadow: -1px -1px 0 yellow, 1px -1px 0 yellow, -1px 1px 0 darkyellow, 1px 1px 0 darkyellow;
}

#container {
    background-color: white;
	color: black;
    padding: 3em;
	/*border: 1px solid lightgray;*/
    border-radius: 20px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 90%;
}

#textbox {
    line-height: 1.6;
    font-size: 1.2em;
	white-space: pre-wrap;	
}

#textbox2 {
    font-family: 'SF Hollywood Hills', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    line-height: 1.6;
    font-size: 1.2em;
}

@media (orientation: portrait) {
    #textbox {
        font-size: 1.8em;
    }
    
    /*
    #container {
        padding: 4em 2.5em;
    }
    */
}

@media (orientation: landscape) {
    #textbox {
        font-size: 1.2em;
    }
}

.large {
    font-size: 2em;
}

.qfont {
    color: yellow;
    font-size: 4em;
}

#qcontainer {
    color: yellow;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
}