body {
	background-color: black;
	color: white;
	font-size: 18px;
	font-family: sans-serif;
}

#container {
    white-space: pre-wrap;
    padding: 2em;
    margin: auto;
	width: 50%;
	border: 1px dashed darkgray;
	text-align: center;
}