strong, b {
font-weight: bold;
}

em, i {
font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	background-color: black;
	color: black;
	font-size: 14px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

a {
    color: yellow;
    text-decoration: none;
    text-shadow: -1px -1px 0 red, 1px -1px 0 red, -1px 1px 0 darkred, 1px 1px 0 darkred;
}

#container {
    background-color: #ffffff;
	color: black;
    padding: 3em;
	/*border: 1px solid lightgray;*/
    border-radius: 20px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 90%;
}

#textbox {
    line-height: 1.6;
    font-size: 1.2em;
	white-space: pre-wrap;	
}

#textbox2 {
    line-height: 1.6;
    font-size: 1.2em;
}

@media (orientation: portrait) {
    #textbox {
        font-size: 1.8em;
    }
    
    /*
    #container {
        padding: 4em 2.5em;
    }
    */
}

@media (orientation: landscape) {
    #textbox {
        font-size: 1.2em;
    }
}

.large {
    font-size: 2em;
}

.qfont {
    color: yellow;
    font-size: 4em;
}

#qcontainer {
    color: yellow;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
}